OPENROUTER_API_KEY=
DEEPL_API_KEY=
LASTFM_API_KEY=
LASTFM_API_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
SHAZAM_API_KEY=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
LISTEN_TOGETHER_USERNAME=
LISTEN_TOGETHER_SERVER_URL=wss://metroserverx.meowery.eu/ws
